---
layout: default
---

<div class="h-feed">
  {% for post in paginator.posts -%}
    {% if post.category contains "review" -%}
      {%- include blog/review.html -%}
    {%- else -%}
      {%- include blog/post.html -%}
    {%- endif %}
  {%- endfor %}

  {% if paginator.total_pages > 1 -%}
    <nav class="blog-pagination" aria-label="Navegação do blog">
      {% if paginator.previous_page -%}
        <a class="blog-prev" href="{{- paginator.previous_page_path | relative_url -}}" rel="prev">
          &larr; Posts mais recentes
        </a>
      {%- endif -%}

      {% if paginator.next_page -%}
        <a class="blog-next" href="{{- paginator.next_page_path | relative_url -}}" rel="next">
          Posts mais antigos &rarr;
        </a>
      {%- endif %}
    </nav>
  {%- endif %}
</div>
