{%- capture syndication_links -%}
  {%- for url in page.syndication -%}
    {%- if url contains "bsky" -%}
      {%- assign service = "Bluesky" -%}
    {%- elsif url contains "tumblr" -%}
      {%- assign service = "Tumblr" -%}
    {%- elsif url contains "flickr" -%}
      {%- assign service = "Flickr" -%}
    {%- elsif url contains "boxd" -%}
      {%- assign service = "Letterboxd" -%}
    {%- else -%}
      {%- assign service = "Mastodon" -%}
    {%- endif -%}

    <a class="u-syndication" href="{{ url }}">{{ service }}</a>{%- unless forloop.last -%}, {% endunless -%}
  {%- endfor -%}
{%- endcapture -%}

<aside class="interactions">
  {% if page.syndication.size > 0 %}
    <p class="syndication-note">
      💬 Esse post está disponível em outros lugares: {{ syndication_links -}}. Passe por lá para deixar um comentário, ou me envie uma <a href="https://indieweb.org/Webmention">webmention</a> pelo seu próprio blog.
    </p>
  {% endif %}

  {% webmentions page.url %}
</aside>
