<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}" />
  {% else %}
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
  {% endif %}

  <title>
    {%- if page.title -%}
      {{ page.title }} &mdash; {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | normalize_whitespace | truncate: 160 | default: site.description }}" />

  <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}" />

  {% include ogp.html %}
</head>
