{%- assign review = include.review -%}

<aside class="h-item h-review">
  <div class="review-widget">
    <div class="review-details">
      <div class="item-details">
        <h2 class="review-title item-name p-name p-item">
          {{- review.item -}}
        </h2>

        <div class="item-meta">
          {% if review.format -%}
            <span class="item-format p-category">{{- review.format -}}</span>
          {%- endif %}

          {% if review.summary -%}
            <span class="item-summary e-description">
              {{- review.summary -}}
            </span>
          {%- endif %}

          {% if review.rating -%}
            <abbr class="item-rating p-rating" title="Nota: {{ review.rating | replace: '.', ',' }} de 5">
              {{- review.rating | replace: '.', ',' | append: " &starf;" -}}
            </abbr>
          {%- endif %}
        </div>
      </div>
    </div>

    {% if review.poster -%}
      <img
        class="review-poster u-photo"
        src="{{- review.poster |-}}"
        alt=""
      >
    {%- endif %}
  </div>
</aside>
