<aside class="h-item h-review">
  <div class="review-widget">
    <div class="review-details">
      <div class="item-details">
        <h2 class="review-title item-name p-name p-item">
          {{- include.item -}}
        </h2>

        <div class="item-meta">
          {% if include.format -%}
            <span class="item-format p-category">{{- include.format -}}</span>
          {%- endif %}

          {% if include.summary -%}
            <span class="item-summary e-description">
              {{- include.summary -}}
            </span>
          {%- endif %}

          {% if include.rating -%}
            <abbr class="item-rating p-rating" title="Nota: {{ include.rating | replace: '.', ',' }} de 5">
              {{- include.rating | replace: '.', ',' | append: " &starf;" -}}
            </abbr>
          {%- endif %}
        </div>
      </div>
    </div>

    {% if include.poster -%}
      <img
        class="review-poster u-photo"
        src="{{- include.poster |-}}"
        alt=""
      >
    {%- endif %}
  </div>
</aside>
