{% if webmentions.size > 0 %}
  {%- assign reactions = webmentions | where_exp: "item", "item.type == 'like' or item.type == 'repost'" -%}
  {%- assign replies = webmentions | where_exp: "item", "item.type == 'reply' or item.type == 'mention'" -%}

  <section class="webmentions">
    <h2 class="webmentions-title">
      Webmentions
    </h2>

    {% if replies.size > 0 %}
      <ol class="replies">
        {% for reply in replies %}
          <li
            id="{{ reply.id | prepend: 'webmention-' }}"
            class="reply h-cite p-comment"
          >
            <header class="reply-header">
              <a class="reply-author h-card p-author u-url" href="{{ reply.author.url }}" rel="author nofollow">
                <img class="u-photo" src="{{ reply.author.photo }}" width="28" height="28" loading="lazy" />

                <span class="author-name p-name">
                  {{- reply.author.name -}}
                </span>
              </a>


              <a class="reply-permalink u-url" href="{{ reply.uri }}" rel="bookmark nofollow">
                <time class="reply-date dt-published" datetime="{{ reply.pubdate | date_to_xmlschema }}">
                  {{ reply.pubdate | date: '%d/%m/%y' }}
                </time>
              </a>
            </header>

            <div class="reply-body e-content">
              {% if reply.title %}
                <a class="u-url" href="{{ reply.uri }}" rel="bookmark nofollow">
                  {{ reply.title | append: ' &#x21e5;' }}
                </a>
              {% else %}
                {{ reply.content }}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    {% if reactions.size > 0 %}

      {% if reactions.size > 1 %}
        {% assign reactions_label = "%reactions pessoas curtiram ou compartilharam." %}
      {% else %}
        {% assign reactions_label = "%reactions pessoa curtiu ou compartilhou." %}
      {% endif %}

      <dl class="reactions">
        <dt class="reactions-label">
          {{ reactions_label | replace: "%reactions", reactions.size }}
        </dt>
        <dd class="reactions-list">
          {% for reaction in reactions %}
            <a
              id="{{ reaction.id | prepend: 'webmention-' }}"
              class="reaction-item h-cite h-card u-url p-author"
              title="{{ reaction.author.name }}"
              href="{{ reaction.author.url }}"
              rel="author nofollow"
            >
              <img class="reaction-avatar u-photo p-name"
                src="{{ reaction.author.photo | default: '/assets/avatar.png' }}"
                alt="{{ reaction.author.name }}"
                width="28"
                height="28"
                loading="lazy"
              />
            </a>
          {% endfor %}
        </dd>
      </dl>
    {% endif %}
  </section>
{% endif %}
