:root {
  color-scheme: light dark;

  --white: #EAE1CD;
  --black: #201D1D;
  --blue: #4B72B0;
  --green: #1C9063;
  --red: #BB3102;
  --yellow:#F5CC47;

  --color-background: light-dark(#f7f7f7, #0e1415);
  --color-text: light-dark(#000, #cecece);
  --color-text-subtle: light-dark(#777, #708b8d);
  --color-link: light-dark(#007acc, #cd974b);
  --color-ui: light-dark(#e0e0e0, #1a2122);

  --color-accent: light-dark(#448c27, #95cb82);
  --color-accent-text: light-dark(#f7f7f7, #1a2122);
  --color-accent-link: light-dark(#aa3731, #dfdf8e);

  --font-body: "Atkinson Hyperlegible Next", sans-serif;
  --font-mono: "Atkinson Hyperlegible Mono", monospace;
  --font-size: 16px;
  --font-small: 0.85rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  background-color: var(--color-accent);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  background-color: var(--color-background);
  border-top: 1rem solid var(--color-accent);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  & > * {
    padding-inline: 3vw;
  }
}

.contained {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
}

/*
  Text Elements
*/

p, ul, ol, dl,
table, blockquote, pre,
figure, audio, video,
h1, h2, h3, h4, h5, h6 {
  margin-block: 1.5rem;
}

sub, sup {
  font-size: 0.75em;
  line-height: 1;
}

sup {
  .footnote {
    padding-inline: 0.25em;
    text-decoration: none;

    &::before,
    &::after {
      color: var(--color-text-subtle);
    }

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}

del, ins {
  text-decoration-color: var(--color-link);
  text-decoration-style: double;
  text-decoration-thickness: 1px;
}

mark {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}

/* Headings */

:is(:heading),
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 500;
  clear: both;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.75rem;
}

/* Links. */

a {
  color: currentcolor;
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-style: solid;
  transition-property: text-decoration-color, text-decoration-style;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    text-decoration-style: wavy;
  }
}

/* Lists */

ul, ol {
  padding-left: 2ch;
  clear: both;

  ul, ol {
    margin-block: 0;
  }

  li {
    margin-block: 0.5rem;

    &::marker {
      color: var(--color-link);
    }

    & > :first-child {
      margin-top: 0;
    }

    & > last-child {
      margin-bottom: 0;
    }
  }
}

ul {
  list-style: disc;

  ul {
    list-style: square;
  }
}

ol {
  list-style: numeric;

  ol {
    list-style: lower-alpha;
  }

  li::marker {
    font-size: var(--font-small);
  }
}

dl {
  dt {
    font-weight: 500;
    font-style: italic;
  }

  dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
    color: var(--color-text-subtle);
    font-size: 0.9rem;
  }
}

.footnotes {
  border-top: 1px solid var(--color-ui);

  & > ol {
    font-size: var(--font-small);

    li::marker {
      color: var(--color-text-subtle);
    }

    .reversefootnote {
      color: var(--color-text-subtle);
      padding-inline: 0.25em;
    }
  }
}

/* Quotes */

blockquote {
  position: relative;
  padding-left: 2rem;
  margin-left: 0;
  clear: both;

  & > :first-child {
    &::before {
      content: "“";
      position: absolute;
      top: 0;
      left: 0;
      font-family: Georgia, serif;
      font-size: 3rem;
      line-height: 1;
      color: var(--color-text-subtle);
    }
  }
}

q {
  quotes: "“" "”" "‘" "’";
}

cite {
  font-style: italic;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  clear: both;

  th, td {
    border-bottom: 1px solid var(--color-ui);
    padding: 0.25rem;
  }

  th {
    background-color: var(--color-ui);
    text-align: left;
  }
}

/* Code and pre-formatted text. */

code {
  font-family: var(--font-mono);
  font-size: var(--font-small);
  color: var(--color-text-subtle);
}

pre {
  clear: both;
  max-width: 100%;
  overflow-x: scroll;
  border: 1px solid var(--color-ui);
  background-color: var(--color-ui);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.highlight {
  border-radius: 0.25rem;
  border: 1px solid var(--color-ui);

  pre {
    background-color: transparent;
    margin-block: 0;

    &:has(table) {
      padding: 0;
    }

    code {
      color: currentcolor;
    }
  }

  table {
    margin-block: 0;

    td {
      border-bottom: 0;
      padding: 0;
    }

    .gutter,
    .code {
      padding-block: 0.5rem;
      padding-inline: 0.5rem;
    }

    .gutter {
      border-right: 1px solid var(--color-ui);
      background-color: var(--color-ui);
      color: var(--color-text-subtle);
      position: sticky;
      left: 0;
    }

    pre {
      margin-block: 0;
      padding: 0;
      border: 0;
    }
  }
}

/* Media */
img, audio, video,
iframe, embed, object {
  max-width: 100%;
}

img {
  border-radius: 0.25rem;
}

figure {
  display: block;
  margin-inline: 0;
}

img + em,
figcaption {
  display: block;
  text-align: right;
  font-size: var(--font-small);
  color: var(--color-text-subtle);
}

figcaption {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

iframe, video {
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 0.25rem;
  display: block;
}

