/*
  Site Header
*/
.site-header {
  margin-block: 3rem;

  .contained {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-ui);
  }

  .site-title {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    margin-block: 0.5rem;
    line-height: 1.2;
  }

  .site-logo {
    height: 1.5rem;
  }

  .home-link {
    text-decoration: none;
    color: currentcolor;
  }
}

.site-menu {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;

  .menu-item {
    color: var(--color-link);
    text-decoration-color: transparent;

    &:hover,
    &:focus {
      text-decoration-color: currentcolor;
    }
  }
}

/*
  Site Footer
*/

.site-footer {
  flex-grow: 1;
  margin-top: 3rem;
  padding-block: 3rem;
  background-color: var(--color-accent);
  color: var(--color-accent-text);
  text-align: center;;
}

/*
  Posts
*/

.post {
  margin-bottom: 3rem;

  .post-title {
    font-weight: 600;

    a {
      color: var(--color-link);
      text-decoration-color: transparent;

      &:hover,
      &:focus {
        text-decoration-color: currentcolor;
      }
    }
  }

  .post-details {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: flex-start;
    font-size: var(--font-small);
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-ui);

    .post-permalink {
      color: var(--color-link);
      text-decoration-color: transparent;

      &:hover,
      &:focus {
        text-decoration-color: currentcolor;
      }
    }

    .post-tags {
      display: inline-flex;
      column-gap: 1ch;
      list-style: none;
      margin: 0;
      padding: 0;

      .tag-item {
        margin-block: 0;
      }

      .tag-link {
        display: inline-flex;
        padding-inline: 0.25rem;
        border: 1px solid var(--color-ui);
        border-radius: 0.25rem;
        color: var(--color-text-subtle);
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: var(--color-ui);
        }
      }
    }

    .post-author {
      display: none;
    }
  }

  &:not(.notas),
  &:not(.links) {
    .post-title {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }

  &.links,
  &.notas {
    .post-title {
      font-size: 1rem;
      display: inline;
      float: left;
      margin-block: 0;
      margin-right: 1ch;
      line-height: 1.6;
    }

    .post-content > :first-child {
      &::after {
        clear: both;
      }
    }
  }
}

/* Pagination */
.blog-pagination {
  display: inline-flex;
  gap: 1rem;

  a {
    color: var(--color-link);
    text-decoration-color: transparent;

    &:hover,
    &:focus {
      text-decoration-color: currentcolor;
    }
  }
}

/* Review */
.review-widget {
  display: flex;
  background-color: var(--color-accent);
  align-items: center;
  color: var(--color-accent-text);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;

  .review-details {
    align-self: center;
    margin-right: auto;
  }

  .review-title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .review-poster {
    max-width: 150px;
    align-self: flex-start;
  }

  .item-meta {
    font-size: var(--font-small);
    display: inline-flex;
    gap: 1rem;
    color: rgb(from var(--color-accent-text) r g b / 0.65);

    .item-rating {
      color: var(--color-link);
    }
  }
}

/* Link Preview */
.link-preview {
  border: 1px solid var(--color-ui);
  background-color: var(--color-ui);
  border-radius: 0.25rem;
  overflow: hidden;
  margin-block: 1.5rem;

  & > a {
    display: block;
    text-decoration: none;
  }

  .link-image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }

  .link-details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .link-icon {
    margin: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  .link-citation {
    padding: 1rem;
  }

  .link-title {
    font-weight: 700;
    font-style: normal;
  }

  .link-domain {
    color: var(--color-text-subtle);
    font-size: var(--font-small);
    margin-left: 1ch;
  }

  &:hover,
  &:focus {
    .link-domain {
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }

  .link-description {
    margin: 0;
    font-size: var(--font-small);
  }

  .link-article-info {
    font-size: var(--font-small);
    color: var(--color-text-subtle);
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 1ch;
  }
}

/* Webmentions & Interactions */
.syndication-callout {
  background-color: var(--color-ui);
  border: 1px solid var(--color-ui);
  border-radius: 0.25rem;
  color: var(--color-text-subtle);
  font-size: var(--font-small);
  padding: 0.5rem;
  margin-block: 1rem;

  & > p {
    margin-block: 0;
  }
}

.webmentions {
  margin-block: 1rem;
  padding-block: 0.5rem;
  font-size: var(--font-small);
  color: var(--color-text-subtle);
  border-bottom: 1px solid var(--color-ui);

  .webmentions-title {
    margin-block: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .reactions {
    margin-block: 0.5rem;

    .reactions-label {
      font-weight: 500;
      font-style: normal;
    }

    .reactions-list {
      display: inline-flex;
      gap: 0.25rem;

      .reaction-item {
        display: inline-block;
        text-decoration: none;

        img {
          border-radius: 100%;
        }
      }
    }
  }

  .replies {
    margin-block: 0.5rem;
    padding-left: 0;
    list-style: none;

    .reply {
      margin-block: 0.5rem;
      clear: both;

      .reply-author {
        text-decoration-color: transparent;
        font-weight: 500;

        &:hover,
        &:focus {
          text-decoration-color: currentcolor;
        }
      }

      .reply-author .u-photo {
        float: left;
        margin-right: 0.5rem;
        border-radius: 100%;
      }

      .reply-permalink {
        margin-left: 1ch;
        text-decoration-color: transparent;
      }

      .reply-body {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;

        & > * {
          margin-block: 0;
        }
      }
    }
  }
}

/*
  Pages and Archives
*/

.page .post-title,
.archive-title {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.archive-section-title {
  font-size: 1rem;
  font-weight: 500;
  border-top: 1px solid var(--color-ui);
  padding-top: 1rem;
}

.years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;

  @media screen and (width >= 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .year-item {
    margin-block: 0;
  }

  .archive-link {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    border: 1px solid var(--color-ui);
    border-radius: 0.25rem;
    text-decoration: none;
    padding: 1rem;
    transition-property: color, background-color;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      background-color: var(--color-ui);
      color: var(--color-link);
    }

    .archive-name {
      font-family: var(--font-mono);
      font-weight: 300;
      font-size: 1.25rem;
    }

    .archive-count {
      font-size: var(--font-small);
    }
  }
}

.archive-search {
  .archive-section-title {
    display: block;
  }

  input {
    appearance: none;
    border: 1px solid var(--color-ui);
    background-color: var(--color-ui);
    color: var(--color-link);
    font-size: 1.25rem;
    display: block;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:hover,
    &:focus {
      border-color: var(--color-link);
      outline: none;
    }
  }

  #search-results {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: var(--color-accent);
    color: var(--color-accent-text);
    list-style: none;
    padding: 1rem;
    margin: 0;

    &:empty {
      display: none;
    }

    li {
      margin-block: 0;

      a {
        color: var(--color-link);
        font-weight: 500;
        text-decoration-color: transparent;

        &:hover,
        &:focus {
          text-decoration-color: currentcolor;
        }
      }

      p {
        margin-block: 0;
      }
    }
  }
}

.tag-archives {
  .tags-list {
    columns: 150px 3;
    column-gap: 2em;
    column-rule-color: var(--color-ui);
    column-rule-style: solid;
    column-rule-width: 1px;
    padding-left: 0;
    list-style: none;
  }
}
