:root {
  --color-background: #f2f1ed;
  --color-text: #302e27;
  --color-link: #22a552;
  --color-link-hover: #dd6b00;
  --color-support: #6a00ff;
  --color-shadows: hsla(47, 18%, 19%, 0.25);

  @media (prefers-color-scheme: dark) {
      --color-background: #26251f;
      --color-text: #ccc9c1;
      --color-link: #61bf83;
      --color-link-hover: #f78d2a;
      --color-shadows: hsl(47, 18%, 19%);
      --color-shadows-hover: hsl(47, 18%, 5%);
      --color-support: hsl(47, 18%, 5%);
  }
}

.site-header .site-logo {
  background: #f5f2ed;
}

.category {
  color: #44413c !important;
}

.interactions {
  max-width: var(--content-width);
  margin-left: auto;
  margin-top: calc(var(--spacing) * 2);

  &::before {
    content: " ";
    display: block;
    height: 1px;
    width: 3lh;
    background-color: var(--color-border);
    margin-bottom: calc(var(--spacing) * 2);
  }
}

.webmentions {
  margin-top: var(--spacing);
}

.webmentions-title {
  font-size: 1.6rem;
  font-style: italic;
}

.replies {
  list-style: none;
  padding-inline-start: 0;

  .reply {
    margin-bottom: var(--spacing);

    .reply-header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: calc(var(--spacing) / 4);
    }

    .reply-author {
      display: inline-flex;
      align-items: center;
      gap: calc(var(--spacing) / 4);

      img {
        box-shadow: none;
        border-radius: 50%;
      }

      .p-name {
        font-weight: 700;
      }
    }

    .reply-permalink {
      color: color-mix(in srgb, var(--color-link), transparent 50%);
      text-decoration: none;

      &:hover,
      &:focus {
        color: color-mix(in srgb, var(--color-link-hover), transparent 50%);
      }
    }
  }
}

.reactions {
  margin-top: calc(var(--spacing) * 2);

  .reactions-list {
    margin-left: 0;
    display: inline-flex;
    flex-flow: row wrap;

    &:hover > .reaction-item,
    &:focus-within > .reaction-item {
      opacity: 0.5;
    }
  }

  .reaction-item {
    display: inline-block;
    z-index: 1;
    transition: opacity 0.25s ease;
    margin-right: -1rem;
    line-height: 1;

    &:hover,
    &:focus {
      z-index: 2;
      opacity: 1 !important;
    }
  }
  .reaction-avatar {
    border-radius: 50%;
    box-shadow: none;
  }
}
