<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title and page.title != "" -%}
      <title>{{ page.title }} ({{- site.title -}})</title>
    {%- else -%}
      <title>{{ site.title }} {%- if site.tagline %} ~ {{ site.tagline }}{%- endif -%}</title>
    {%- endif %}
    {% seo title=false %}

    {% feed_meta %}
    {% json_feed_meta %}
    <link rel="stylesheet" href="{% link assets/css/base.css %}">
    <link rel="stylesheet" href="{% link assets/css/layout.css %}">
    <link rel="stylesheet" href="{% link assets/css/syntax-light.css %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% link assets/css/syntax-dark.css %}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{% link assets/css/fonts.css %}">
    {% webmentions_head %}
    {% standard_site_links %}

    <link rel="icon" type="image/png" href="{% link assets/favicons/favicon-96x96.png %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% link assets/favicons/favicon.svg %}">
    <link rel="shortcut icon" href="{% link assets/favicons/favicon.ico %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% link assets/favicons/apple-touch-icon.png %}">
    <meta name="apple-mobile-web-app-title" content="Irrelefante">
    <link rel="manifest" href="{% link assets/favicons/site.webmanifest %}">

    <link rel="me" href="https://arthr.me">
    <link rel="me" href="https://bsky.app/profile/irrelefante.com.br">
    <link rel="me" href="https://organica.social/@arthr">
    <link rel="me" href="https://tangled.org/arthr.me">
  </head>
  <body>
      <nav class="visually-hidden" aria-label="Âncoras da página">
        <a href="#content">Pular para o conteúdo</a>
        <a href="#menu">Pular para o menu</a>
      </nav>
      {% include header.html %}

      <main id="content" class="site-content">
        <div class="contained">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
      {% webmentions_js %}
  </body>
</html>
